.genre-bttns{
    margin-right: 10px;
    margin-bottom: 10px;
}

.pagination{
    margin-top: 15px;
}

.pagination a
{
    background-color: #dc3545;
    color: white;
}

.pagination a:hover
{
    background-color: white;
    color: #dc3545;

}
.pagination li:first-child,
.pagination li:last-child,
.disabled>.page-link
{
    background-color: #dc3545;
    color: white;
}
.active>.page-link, .page-link.active{
    background-color: white;
    color: #dc3545;
    border-color: transparent;
}

.dropdown{
    margin-bottom: 1rem;
}
.movie-card{
    margin-bottom: 2rem;
}


@media (max-width:575px){
    .pagination li:first-child,
    .pagination li:last-child,
    .disabled>.page-link{
        width: 104px;
    height: 37.6px;
    }
    .pagination li:last-child a{
        width: 80px;
    height: 37.6px;
    }
}
