html{
  height: 100%;
}
body{
  height: 100%;
  background-color: black;
}
*{
  background-color: black;
}
#root{
  height: 100%;
  font: white;
  background-color: black;
  color: white !important;
}